
<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
        <title>DirecTV</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>

        <nav id="nav">

            <a href="#" id="menu-toggle" class="hidden-md hidden-lg">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </a>



            <a href={{ url_for('satellites') }} id="my-name">View Satellites</a>

        </nav>

        <div class="wrapper container-fluid">

          <section id="intro" class="full align-center">

              <canvas id="intro-canvas"></canvas>

              <div class="intro-text-wrapper">
                  <h1 class="hide-totally uppercase">DirecTV</h1>
                  <h2 class="hide-totally">USA</h2>
              </div>

          </section>




            <section id="about">

                <h2 class="section-title align-center uppercase">About</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/directv.png') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/directv2.png') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 padding">

                        <p>The DirecTV 15 satellite is a commercial Geostationary Communications Satellite operated by DirecTV as part of the company’s fleet of satellites to deliver HD and Ultra-HD Direct-to-Home (DTH) Television Services. DirecTV has over 20 million customers in the United States, Latin America and the Caribbean. The company has been operating communication satellites since 1993.<br><br>

                            DirecTV 15 was built by Airbus Defence and Space based on the flight-proven Eurostar-3000 satellite bus. The platform is capable of hosting communications payloads with a total power exceeding 16,000 Watts. The spacecraft platform can support a high degree of customization to be able to support a variety of payloads including commercial communications and military payload packages. Eurostar-3000 made its first launch in 2004.

The DirecTV 15 satellite has a launch mass of around 6,200 Kilograms. The spacecraft stands 7.5 meters tall and, in orbit, its deployed solar arrays have a span of over 30 meters.
                            <br><br>
                             The satellite platform consists of a central cylinder which facilitates the propellant tanks for the bi-propellant propulsion system. The cylinder consists of several segments connected via ring-joints. Internal composite panels are mounted to the cylinder to facilitate the external panels and provide mounting platforms for the various satellite components. </p>
                    </div>

                </div>

            </section>




        </div>


        <section id="contacts" class="full">


                <div hidden id="map-canvas" class="width-100"></div>




            </section>





        <div class="msg-confirm-wrapper">

            <div class="msg-confirm">

                <i class="icon-mail-opened"></i>

            </div>

        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jQuery.resizeEnd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.background.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.maps.js') }}"></script>

    </body>

</html>


