
<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
        <title>Microsat</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>

        <nav id="nav">

            <a href="#" id="menu-toggle" class="hidden-md hidden-lg">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </a>



            <a href={{ url_for('satellites') }} id="my-name">View Satellites</a>

        </nav>

        <div class="wrapper container-fluid">

          <section id="intro" class="full align-center">

              <canvas id="intro-canvas"></canvas>

              <div class="intro-text-wrapper">
                  <h1 class="hide-totally uppercase">Microsat</h1>
                  <h2 class="hide-totally">Indian</h2>
              </div>

          </section>




            <section id="about">

                <h2 class="section-title align-center uppercase">About</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/microsat.png') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/microsat2.png') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 padding">

                        <p>PSLV-C40 carries a Microsatellite (Microsat) built by ISRO as a co-passenger payload. Microsat is a small satellite in the 100 kg class that derives its heritage from IMS-1 bus. This is a technology demonstrator and the fore runner for future satellites of this series. The satellite bus is modular in design and can be fabricated and tested independently of payload.<br><br>

                            Microsat-R served as target for Indian ASAT experiment on March 27, 2019. The impact generated more than 400 pieces of orbital debris with 24 having apogee higher than ISS orbit. According to initial assessment by DRDO some of the debris (depending on size and trajectory) should re-enter in 45 days
                            <br><br>
                            Microsat-R, along with KalamsatV2 as piggy-back, was launched on 24 January 2019 at 23:37 hrs from First Launch Pad of Satish Dhawan Space Centre. The launch marks the 46th flight of PSLV. After 13 minutes 26 seconds in flight, Microsat-R was injected at targeted altitude of about 277.2 km. This was the first flight of a new variant of PSLV called PSLV-DL with two strap-ons, each carrying 12.2-tonne of solid propellant. </p>
                    </div>

                </div>

            </section>




        </div>


        <section id="contacts" class="full">


                <div hidden id="map-canvas" class="width-100"></div>




            </section>





        <div class="msg-confirm-wrapper">

            <div class="msg-confirm">

                <i class="icon-mail-opened"></i>

            </div>

        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jQuery.resizeEnd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.background.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.maps.js') }}"></script>

    </body>

</html>


