
<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
        <title>NavStar</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>

        <nav id="nav">

            <a href="#" id="menu-toggle" class="hidden-md hidden-lg">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </a>



            <a href={{ url_for('satellites') }} id="my-name">View Satellites</a>

        </nav>

        <div class="wrapper container-fluid">

          <section id="intro" class="full align-center">

              <canvas id="intro-canvas"></canvas>

              <div class="intro-text-wrapper">
                  <h1 class="hide-totally uppercase">NavStar</h1>
                  <h2 class="hide-totally">USA</h2>
              </div>

          </section>




            <section id="about">

                <h2 class="section-title align-center uppercase">About</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/navstar.png') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/navstar2.png') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 padding">

                        <p>Navstar is a network of U.S. satellites that provide global positioning system (GPS) services. They are used for navigation by both the military and civilians.

These 24 main GPS satellites orbit Earth every 12 hours, sending a synchronized signal from each individual satellite. Because the satellites are moving in different directions, a user on the ground receives the signals at slightly different times. When at least four satellites get in touch with the receiver, the receiver can calculate where the user is – often to a precision of just a few feet, for civilian use.<br><br>

                            GPS signals used to be "degraded" for civilian use, meaning that they were only really precise in military applications. In 2000, however, President Bill Clinton authorized the switch-off of this "selective availability."
                            <br><br>
                             These days, many people take Global Positioning System devices for granted. Most people are familiar with the concept of using a GPS system (either as a stand-alone device or in a phone) to find one's way around. GPS can also identify a user's location, which is useful for orientation and even for fun activities such as geocaching (finding hidden caches with the use of GPS devices.) But there are other uses as well, besides location and navigation.  </p>
                    </div>

                </div>

            </section>




        </div>


        <section id="contacts" class="full">


                <div hidden id="map-canvas" class="width-100"></div>




            </section>





        <div class="msg-confirm-wrapper">

            <div class="msg-confirm">

                <i class="icon-mail-opened"></i>

            </div>

        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jQuery.resizeEnd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.background.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.maps.js') }}"></script>

    </body>

</html>


