
<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
        <title>Strela | Description</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>

        <nav id="nav">

            <a href="#" id="menu-toggle" class="hidden-md hidden-lg">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </a>


            
            <a href="#" id="my-name" class="hide-totally">View Satellites</a>

        </nav>

        <div class="wrapper container-fluid">

            <section id="intro" class="full align-center">

                <canvas id="intro-canvas"></canvas>

                <div class="intro-text-wrapper">
                    <h1 class="hide-totally uppercase">Strela</h1>
                    <h2 class="hide-totally">SpaceX</h2>
                </div>

            </section>

            <section id="about">

                <h2 class="section-title align-center uppercase">About</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/strela.jpg') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 padding">

                        <img src={{ url_for('static', filename='images/strela2.jpg') }} class="img-responsive img-restrict hide-totally" height="200px" width="200px">

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 padding">

                        <p>Strela is a Russian military communications satellite constellation operating in low Earth orbit. These satellites operate as mailboxes: they remember the received messages and then resend them after the scheduled time, or by a command from the Earth.
                            <br><br>
Soviet Strela (an "arrow") satellites were designed for the so-called "store-and-dump" communications. The spacecraft of this type records a piece of communication, such as a fax, a telex or an e-mail, in its onboard recorder as it overflies a sender and when the satellite reaches a range of receiving antennas of an addressee, it downlinks the message. The method was intended primarily for communications in very remote areas lacking more traditional ground-based communications channels.
<br><br>

The Strela-3 was heavier and more capable than the Strela-1M, with six launched per Kosmos 3M booster instead of eight. An operational constellation consisted of twelve spacecraft in two orbital planes, spaced 90 degrees apart. A gravity-gradient beam was extended on-orbit to provide passive attitude stabilization </p>
                    </div>

                </div>

            </section>




        </div>

        <div class="msg-confirm-wrapper">

            <div class="msg-confirm">

                <i class="icon-mail-opened"></i>

            </div>

        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jQuery.resizeEnd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/velocity.ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.animations.background.js') }}"></script>
        <script src="{{ url_for('static', filename='js/portfolio.maps.js') }}"></script>

    </body>

</html>
